{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
{% if user.is_authenticated %}
{% include 'navbar.html' %}
<section class="featured spad">
 <div class="container">
  <a class="btn btn-info ml-auto" href="{% url 'cart_movie:add_movie' %}">Add Movie</a>

 </div>
</section>


<body><section class="featured spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>My Movies</h2>
                </div>

            </div>
        </div>
        <div class="row featured__filter">


{% for i in list_movie %}
            <div class="col-lg-3 col-md-4 col-sm-6  ">
                <div class="featured__item">
                    <a href="{% url 'cart_movie:movie_info' i.id %}">
                        <div class="featured__item__pic set-bg" data-setbg="{{i.image.url}}">

                        </div>
                    </a>

                    <div class="featured__item__text">
                        <h6><a href="{% url 'cart_movie:movie_info' i.id %}">{{i.title}} ({{ i.release_date|date:"Y" }})</a></h6>

                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
{% endif %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<script src="{% static 'js/mixitup.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
